<ul>
  <li><a href="./guidance/bespoke-public-services.html">Bespoke public services</a></li>
  <li><a href="./guidance/legacy-systems.html">Legacy Systems</a></li>
  <li><a href="./guidance/data-guidance.html">Data and AI Related </a></li>
  <li><a href="./guidance/accessibility-guidance.html">Accessibility </a></li>
  <li><a href="./guidance/domain-names.html">Domain Names</a></li>
  <li><a href="./guidance/co-policies.html">Cabinet Office Digital Policies</a></li>
</ul>
