<ul>
  <li><a href="./principles/digital-handbook-principles.html">Digital Handbook Principles</a></li>
  <li><a href="./principles/architecture-principles.html">Architecture Principles</a></li>
</ul>
