<ul>
    <li><a href="./strategies/government-digital-strategies.html">Government Digital Strategies</a></li>
    <li><a href="./strategies/co-digital-strategies.html">CO Digital Strategies</a></li>
</ul>
