---
title: Bespoke public services
last_reviewed_on: 2024-11-04
review_in: 6 months
---

# <%= current_page.data.title %>

The [Central Digital and Data Office](https://www.gov.uk/government/organisations/central-digital-and-data-office) (CDDO) has published a set of guidance that is applicable for developing public-facing bespoke services. This comprehensive set of guidelines aims to ensure that digital services are not only functional and efficient but also secure, accessible, and user-centered. These recommendations are designed to help government agencies and departments create digital services that meet the needs of the public while adhering to best practices in development, security, and governance. By following this guidance, developers can create high-quality digital services that provide maximum benefit to users and support the broader objectives of the government.

The guidance covers various aspects, including security measures, testing practices, repository management, continuous integration, infrastructure management, and incident response. By incorporating these principles, teams can ensure that their services are robust, reliable, and capable of meeting the evolving demands of public service.

It provides detailed instructions, standards, and best practices across a wide range of areas essential for successful service delivery.

## Policies and Guidance
### [Service Manual](https://www.gov.uk/service-manual)
The Service Manual published by CDDO provides comprehensive guidance to help government teams create and run excellent digital services. It includes resources on understanding user needs, agile delivery, accessibility, and technology, among other topics. The manual also outlines the Service Standard, which sets out 14 points that teams should follow to build effective and user-friendly services.

### [Government Cloud First Policy](https://www.gov.uk/guidance/government-cloud-first-policy)
The Government Cloud First Policy mandates that public sector organisations should default to public cloud solutions when procuring new or existing services. Introduced in 2013, this policy aims to promote efficiency, innovation, and cost-effectiveness by encouraging the use of cloud services over traditional on-premises solutions. Exceptions are allowed but must be justified with a clear business case. The policy is mandatory for central government and strongly recommended for the wider public sector.

## Standards

### [Service Standards](https://www.gov.uk/service-manual/service-standard)
The Service Standard helps teams to create and run great public services.  Service standards should be applied when creating and running public services. They can be applied in different contexts, such as when building a website or calculator, or when creating a service for government employees.

You can [check if you need to meet the service standards or get an assessment](https://www.gov.uk/service-manual/service-assessments/check-if-need-to-meet-service-standard). There are [guidance on how to apply the service standards](https://www.gov.uk/service-manual/service-assessments/how-to-apply-the-service-standard).

### [API technical and data standards](https://www.gov.uk/guidance/gds-api-technical-and-data-standards)
These standards are for people building Application Programming Interfaces (APIs) in government who want to:
* save time and resources
* assure users that their service meets minimum standards
* use agile methods to improve products and services
* use the REST API style
* take an API-first approach to development

## Cabinet Office Internal Policies
### <a href="./dev-and-ops-policies.html">Software Development and Operation Policies</a>
The Cabinet Office (CO) Development and Operations Policies promotes development and operation best practice for digital services or platforms within the Cabinet Office.
